.table-container {
    max-width: 1140px;
}


.image-cell {
    max-height: 92px;
    max-width: 88px;
    padding: 1px;
    width: 11.111111111%;
    background-color: #FFFFFF;
    float: left;
}

.image-cell img {
    max-width: 88px;
    width: 100%;
}

.image-row, .share-btn-container {
    max-width: 792px;
    margin: 0 auto;
}

.share-btn-container {
    margin-top: 20px;
}

.share-btn-container a {
    margin: 0 auto;
    display: block;
    width: 211px;
}

.center-share-btn {
    width: 33.333333333332%;
    display: inline-block;
    margin: 0 auto;
}

table-container {
    width: 90%;
    margin: 10px auto;
}

.col-img-1 {
    margin-left:0;
}

.col-span-7 {
    margin-left:33.333333333%;
}

.col-span-8 {
    margin-left:55.555555556%;
}